* {
    margin: 0;
    padding: 0;
}


#input-lang-en:checked ~ #presentation [lang="fr"] { display: none }
#input-lang-fr:checked ~ #presentation [lang="en"] { display: none }
input[name="lang"]{ display: none }


body {
    font-family: 'Paysage';
    font-weight: 300;

   
    --color: #ffeb99;
    --color-hover: #ff6666;
    --black: #222;
    background-color: var(--black);
    color: var(--black);

    --font-size-big: 32px;
    --font-size-small: 18px;
    --padding: 20px;
    --sun: "☀ ";
    /* --sun: "☼ "; */

    --width-slide: 400px;
    --height-slide: 260px;
    --width-controls: 40px;

    /* display: flex;
    flex-direction: column; */

   
}

#body-container{
    max-width: 1340px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr calc(var(--height-slide) + var(--padding));
    
    /* padding: var(--padding); */
    /* padding-left: calc(var(--padding)*2.5);
    padding-right: calc(var(--padding)*4); */

    height: 100vh;
   
    background-color: var(--color);
}

a {
    text-decoration: none;
    color: currentColor;
}
a:hover {
    color: var(--color-hover)!important;
}
a:visited {
    color: currentColor;
}


#presentation {
    padding: var(--padding) calc(var(--padding)*2.5);
    max-width: 990px;
    font-size: var(--font-size-big);
    line-height: 1.1em;
    position: relative;
}

#infos{
    width: 100%;
    background-color: var(--black);
    color: white;
    padding: var(--padding);
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
}


#presentation .details{
    margin-top: 0.6em;
}

.baseline::before{
    content: var(--sun);
    position: absolute;
    left: -2ch;
    font-size: 0.8em;
    top: 2px;
}

#infos {
    font-size: var(--font-size-small);
    position: relative;
    
   
}


#infos ul{
    list-style: none;
}

#people{
    padding-top: 1em;
}

#people p{
    display: inline;
}

#toggle-lang{
    flex-grow: 1;
    /* position: absolute;
    bottom: 0px; */
}

.label-lang{
    font-size: var(--font-size-small);
    display: block;
    flex-grow: 1;
}

.label-lang::before{
    content: var(--sun);
    position: relative;
    top: 2px;
}

#input-lang-en:checked ~ #infos label[for="input-lang-fr"]::before{
    color: transparent;
}
#input-lang-fr:checked ~ #infos label[for="input-lang-en"]::before{
    color: transparent;
}

#infos label:hover{
    cursor: pointer;
    color: var(--color-hover);
}

#infos label:hover::before{
    color: var(--color-hover)!important;
}


#toggle-lang span{ display: none; }


/* CARRROUSEL -----------------------------------  */


.carousel-container {
    display: none;
    width: var(--width-slide);
    height: var(--height-slide);
    overflow: hidden;
    position: relative;
    border: 1px solid var(--black);
    margin-top: 1em;
    margin-right: calc(var(--padding)*0.5);
    float: right;

  }

  .carousel {
    display: flex;
    animation: slide 30s infinite;
    height: 100%;

  }

  .carousel-item {
    flex: 0 0 100%;
    /* height: 200px; */
  }

  .carousel-container img{
    width: var(--width-slide);
  }

  
  @keyframes slide {
    0%, 100% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(-200%);
    }
    40% {
      transform: translateX(-300%);
    }
    50% {
      transform: translateX(-400%);
    }
    60% {
      transform: translateX(-500%);
    }
    70% {
      transform: translateX(-600%);
    }
    80% {
      transform: translateX(-700%);
    }
    90% {
      transform: translateX(-800%);
    }
  } 



  


/* SLIDESHOW -----------------------------------  */


/* Size of slideshow */
#slideshow{
    width: var(--width-slide);
    height: var(--height-slide);
    border: 1px solid var(--black);
    position: relative;
    left: calc(var(--padding)*2.5)
    /* margin-top: 1em;
    margin-right: calc(var(--padding)*0.5); */
    /* float: right;  */
}

#slideshow img{
    width: var(--width-slide);
    filter: grayscale(100%);
    mix-blend-mode: multiply;

}

#slideshow:hover img{
    filter: grayscale(0%);
    mix-blend-mode: normal;
}

/* contenu */
.slideshow-item article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    


/* Structure
--------------------------------------------------------
-------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.slideshow-item article {
    height: 100%;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
}
            
.slideshow-container {
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.slideshow-inner {
    width: 1000%;
    height: 100%;
}

.slideshow-item {
    width: 10%;
    height: 100%;
    float: left;
}


/* Display slides (input checked) 
--------------------------------------------------------
-------------------------------------------------------- */

.slideshow-inner {
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-item {
    transition: all 0.5s ease-out;
}


/* Move slides overflowed container */
#slide-input-1:checked ~ .slideshow-container .slideshow-inner {
    left: 0;
}
#slide-input-2:checked ~ .slideshow-container .slideshow-inner {
    left: -100%;
}
#slide-input-3:checked ~ .slideshow-container .slideshow-inner {
    left: -200%;
}
#slide-input-4:checked ~ .slideshow-container .slideshow-inner {
    left: -300%;
}
#slide-input-5:checked ~ .slideshow-container .slideshow-inner {
    left: -400%;
}
#slide-input-6:checked ~ .slideshow-container .slideshow-inner {
    left: -500%;
}
#slide-input-7:checked ~ .slideshow-container .slideshow-inner {
    left: -600%;
}
#slide-input-8:checked ~ .slideshow-container .slideshow-inner {
    left: -700%;
}
#slide-input-9:checked ~ .slideshow-container .slideshow-inner {
    left: -800%;
}
#slide-input-10:checked ~ .slideshow-container .slideshow-inner {
    left: -900%;
}









    
/* Controls (arrows) 
--------------------------------------------------------
-------------------------------------------------------- */

.slideshow-controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.slide_controls {
    width: var(--width-controls);
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    will-change: z-index;
}
.slide_controls-previous {
    left: calc(var(--width-controls)*-1);
}
.slide_controls-next {
    right: calc(var(--width-controls)*-1);
}

span.controls {
    height: 100%;
    position: absolute;
    width: 100%;
}

span.controls::before,
span.controls::after {
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    /* background: white; */
    font-size: 20px;
    z-index: 9;
}


.slide_controls-previous:hover ~ span.controls:before,
.slide_controls-next:hover ~ span.controls:after {
    background-color: var(--hover)!important;
}

span.controls::before {
    content: "❬";
    left: calc(var(--width-controls)*-0.75);
}

span.controls::after {
    content: "❭";
    right: calc(var(--width-controls)*-0.75);
}

/* Control arrows display
-------------------------------------------------------------------- 
-------------------------------------------------------------------- */

#slide-input-0:checked ~ .slideshow-controls label {
    /* toggle all label nav */
    display: block;
}
#slide-input-1:checked ~ .slideshow-controls label {
    z-index: -1;
}
#slide-input-1:checked ~ .slideshow-controls label:nth-of-type(1),
#slide-input-1:checked ~ .slideshow-controls label:nth-of-type(2) {
    z-index: 11;
}
  
#slide-input-2:checked ~ .slideshow-controls label {
    z-index: -1;
}
#slide-input-2:checked ~ .slideshow-controls label:nth-of-type(3),
#slide-input-2:checked ~ .slideshow-controls label:nth-of-type(4) {
    z-index: 11;
}
 
#slide-input-3:checked ~ .slideshow-controls label {
    z-index: -1;
}
#slide-input-3:checked ~ .slideshow-controls label:nth-of-type(5),
#slide-input-3:checked ~ .slideshow-controls label:nth-of-type(6) {
    z-index: 11;
}
  
#slide-input-4:checked ~ .slideshow-controls label {
    z-index: -1;
}
#slide-input-4:checked ~ .slideshow-controls label:nth-of-type(7),
#slide-input-4:checked ~ .slideshow-controls label:nth-of-type(8) {
    z-index: 11;
}
  
#slide-input-5:checked ~ .slideshow-controls label {
    z-index: -1;
}
#slide-input-5:checked ~ .slideshow-controls label:nth-of-type(9),
#slide-input-5:checked ~ .slideshow-controls label:nth-of-type(10) {
    z-index: 11;
}

#slide-input-6:checked ~ .slideshow-controls label:nth-of-type(11),
#slide-input-6:checked ~ .slideshow-controls label:nth-of-type(12) {
    z-index: 11;
}

#slide-input-7:checked ~ .slideshow-controls label:nth-of-type(13),
#slide-input-7:checked ~ .slideshow-controls label:nth-of-type(14) {
    z-index: 11;
}

#slide-input-8:checked ~ .slideshow-controls label:nth-of-type(15),
#slide-input-8:checked ~ .slideshow-controls label:nth-of-type(16) {
    z-index: 11;
}

#slide-input-9:checked ~ .slideshow-controls label:nth-of-type(17),
#slide-input-9:checked ~ .slideshow-controls label:nth-of-type(18) {
    z-index: 11;
}

#slide-input-10:checked ~ .slideshow-controls label:nth-of-type(19),
#slide-input-10:checked ~ .slideshow-controls label:nth-of-type(20) {
    z-index: 11;
}














/* Autoplay for controls arrows
-------------------------------------------------------------------- 
-------------------------------------------------------------------- */

@keyframes slideshow-controls-animation {
    0%,
    19.9999% {
        z-index: 11;
    }
    20%,
    100% {
        z-index: -1;
    }
}


#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(1),
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(2) {
    animation: slideshow-controls-animation 25s infinite 0s;
}
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(3),
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(4) {
    animation: slideshow-controls-animation 25s infinite 5s;
}
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(5),
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(6) {
    animation: slideshow-controls-animation 25s infinite 10s;
}
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(7),
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(8) {
    animation: slideshow-controls-animation 25s infinite 15s;
}
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(9),
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(10) {
    animation: slideshow-controls-animation 25s infinite 20s;
}
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(11),
#slide-input-0:checked ~ .slideshow-controls label:nth-of-type(12) {
    animation: slideshow-controls-animation 25s infinite 20s;
}
  







/* RESPONSIVE -----------------------------------  */

@media (max-width: 1180px) {
    body {
        --font-size-big: 26px;
        --font-size-small: 16px;
    }
}

@media (max-width: 960px) {

    body{
        --font-size-small: 14px;
    }
    #body-container {
        display: flex;
        flex-direction: column;
       
    }
    #presentation{
        flex-grow: 1;
    }

    #infos{
        height: 6em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: var(--padding);
        padding-left: calc(var(--padding)*2.5);
        padding-top: 1em;
    }
    #people{
        padding-top: 0px;
        padding-left: calc(var(--padding)*2.5);
    }
    #people p{
        display: block;
    }
    #toggle-lang{
        flex-grow: inherit;
        position: absolute;
        right: var(--padding);
    }
}




@media (max-width: 740px) {

    body{
        --font-size-big: 20px;
        --font-size-small: 18px;
        --padding: 10px;
        --width-controls: 24px;
        --width-slide: calc(100vw - var(--width-controls)*2);
        --height-slide: 56vw;
    
        background-color: var(--color);
    }
    #body-container {
        height: auto;
        width: 100%;
        display: block;
    }

    .baseline::before{
        position: relative;
        left: 0;
        display: block;
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

    #infos {
        display: block;
        /* position: fixed;
        bottom: 0px; */
        height: 11em;
        margin-top: 2em;
        /* background-color: var(--color);
        color: var(--black); */
    }

    #people{
        margin-left: 0;
        padding-left: 0;
        margin-top: 1em;
    }

    #toggle-lang{
        flex-grow: inherit;
        position: absolute;
        left: calc(var(--padding)*2.5);
        bottom: 1em;
    }

    #toggle-lang label{
        display: inline-block;
        padding-right: 1em;
    }

    #slideshow{
        margin-top: 3em;
    }

    .slide_controls{
        width: 140px;
    }

    .slide_controls-previous {
        left: calc(var(--width-controls)*-1);
    }
    .slide_controls-next {
        right: calc(var(--width-controls)*-1);
    }

    span.controls::before {
        left: calc(var(--width-controls)*-1);
    }
    
    span.controls::after {
       right: calc(var(--width-controls)*-1);
    }

    #slideshow:hover img{
        filter: grayscale(100%);
        mix-blend-mode: multiply;
    }

}


