@font-face {
    font-family: 'Paysage';
    src: url('Paysage-Regular.woff') format('woff2'),
        url('Paysage-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Paysage';
    src: url('Paysage-Medium.woff') format('woff2'),
        url('Paysage-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paysage';
    src: url('Paysage-Bold.woff') format('woff2'),
        url('Paysage-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Paysage';
    src: url('Paysage-Black.woff') format('woff2'),
        url('Paysage-Black.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}